{% load static %}
{% load socialaccount %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'home_app/meta_data.html' %}
    </head>
    <body>
        <!-- Navbar of home page -->
            <header>
                {% include 'home_app/navbar.html' %}
            </header>
        <!-- Navbar of home page -->

        <!-- body of HOME page -->
            {% include 'home_app/body_home.html' %}
        <!-- body of HOME page -->

        <!-- body of OTHER pages -->
            {% block body %}
            
            {% endblock body %}
        <!-- body of OTHER pages -->

        {% include 'home_app/scripts.html' %}
    </body>
</html>