{% extends 'index.html' %}
{% load static %}
{% block body %}
    {% if user.is_authenticated %}
        <!-- body of image_processing page -->

            <!-- Display User uploaded Images -->
                <div class='container mt-5 mb-5 p-3 rounded bg-warning'>
                    <div class='rounded fw-bold mb-1 fs-3 text-black'>Your Uploaded Images</div>
                    <div class='container p-2 my-2 rounded bg-white fs-5'> 
                        <div class='container pb-2 select_unselect_all_button'>
                            <button type="button" onclick="SelectAll()" class='btn btn-success'>Select All Images</button>
                            <button type="button" onclick="UnSelectAll()" class='btn btn-danger mx-1'>UnSelect All Images</button>
                        </div>
                        <div class='row  mb-2'>
                            <div class="col-sm-9">
                                <input class="image_fusion_search px-2" onkeyup="ImageSearchFunction()" id ="search" type="search" placeholder="Search Image" aria-label="Search">
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input switch_toggle" type="checkbox" value="" id="flexCheckChecked"  data-toggle="toggle"/>
                                    <label class="form-check-label" for="flexCheckChecked">Select Searched Image</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form id="form_image_fusion" action="{% url 'image-fusion' %}" method="POST">
                    {% csrf_token %}
                        <div class='container p-3 rounded bg-white' style='height:100vh; overflow:auto;'>
                            {% if all_images %}
                                <div class='row'>
                                    {% for i in all_images %}
                                        <div class='col-md-3 col-sm-6 col-12 photo my-2'>
                                            <!-- Card -->
                                                <div class="card bg-dark " >
                                                    <a href="{{i.images.url}}">
                                                        <img src="{{i.images.url}}" class="card-img-top" alt="{{i.images.name}}"/>
                                                    </a>
                                                    <div class="card-body">
                                                        <div class='text-white mt-1 '>
                                                            <div class="row mb-3">
                                                                <div class="col ">
                                                                    <div class="form-check form-switch">
                                                                        <input name="image_checkbox" class="form-check-input switch_toggle" type="checkbox" value="{{i.id}}" id="{{i.id}}"  data-toggle="toggle"/>
                                                                        <label class="form-check-label" for="{{i.id}}">Select</label>
                                                                    </div>
                                                                </div>
                                                                
                                                            </div>
                                                            <div class="row my-1">
                                                                <div class="col-auto">
                                                                    <span class="bg-light text-dark rounded px-1">Name</span>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <span class="text-white photoName">{{i.images.name}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            <!-- Card -->
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class='container-fluid bg-danger text-white fs-4 fw-bold p-1 rounded'>
                                    <center>You should <span class='bg-white text-danger rounded px-1'>Upload Images !</span></center>
                                </div>
                            {% endif %}
                        </div>
                        <div class='container bg-white d-grid gap-2 mt-3 p-3 rounded'>
                            <button type="submit" class='btn btn-success' id="button_image_fusion">
                                <span id="start_image_fusion">Start Image Fusion</span>
                                <span id="loading_image_fusion" class="visually-hidden">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Loading...
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            <!-- Display User uploaded Images -->

            <!-- Display Fused Image -->
            {% if fused_image %}
                <div class='container mt-5 mb-5 p-3 rounded bg-warning'>
                    <div class='rounded fw-bold mb-1 fs-3 text-black'>Fused Image</div>
                    
                    <div class='container py-2 my-3 rounded bg-white'>
                        {% if fused_image %}
                            <div class='row'>
                                <div class='rounded fw-bold mb-1 fs-3 text-dark col-12 d-flex justify-content-center'>Input Images</div>
                                <!-- Input Image 1 -->
                                <div class='col-md-3 col-sm-6 col-12 photo my-2'>
                                    <!-- Card -->
                                        <div class="card bg-dark " >
                                            <a href="{% static 'temporary/images/input_img_1.png' %}">
                                                <img src="{% static 'temporary/images/input_img_1.png' %}" class="card-img-top" alt="Wavelet Image"/>
                                            </a>
                                            <div class="card-body">
                                                <div class='text-white mt-1 '>
                                                    <div class="row mb-3">
                                                        
                                                    </div>
                                                    <div class="row my-1">
                                                        <div class="col-auto">
                                                            <span class="bg-light text-dark rounded px-1">Name</span>
                                                        </div>
                                                        <div class="col-auto">
                                                            <span class="text-white photoName">Input_image_1.png</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- Card -->
                                </div>
                                
                                <!-- Input Image 2 -->
                                <div class='col-md-3 col-sm-6 col-12 photo my-2'>
                                    <!-- Card -->
                                        <div class="card bg-dark " >
                                            <a href="{% static 'temporary/images/input_img_2.png' %}">
                                                <img src="{% static 'temporary/images/input_img_2.png' %}" class="card-img-top" alt="Wavelet Image"/>
                                            </a>
                                            <div class="card-body">
                                                <div class='text-white mt-1 '>
                                                    <div class="row mb-3">
                                                        
                                                    </div>
                                                    <div class="row my-1">
                                                        <div class="col-auto">
                                                            <span class="bg-light text-dark rounded px-1">Name</span>
                                                        </div>
                                                        <div class="col-auto">
                                                            <span class="text-white photoName">Input_image_2.png</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- Card -->
                                </div>

                            </div>
                        {% endif %}
                    </div>

                    <div class='container py-3 my-3 rounded bg-white' >
                        {% if fused_image %}
                            <div class='row'>

                                <div class='rounded fw-bold mb-1 fs-3 text-dark col-12 d-flex justify-content-center'>Output Images</div>
                                <!-- Wavelet -->
                                <div class='col-md-3 col-sm-6 col-12 photo my-2'>
                                    <!-- Card -->
                                        <div class="card bg-dark " >
                                            <a href="{% static 'temporary/images/wavelet.png' %}">
                                                <img src="{% static 'temporary/images/wavelet.png' %}" class="card-img-top" alt="Wavelet Image"/>
                                            </a>
                                            <div class="card-body">
                                                <div class='text-white mt-1 '>
                                                    <div class="row mb-3">
                                                        
                                                    </div>
                                                    <div class="row my-1">
                                                        <div class="col-auto">
                                                            <span class="bg-light text-dark rounded px-1">Name</span>
                                                        </div>
                                                        <div class="col-auto">
                                                            <span class="text-white photoName">Wavelet.png</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- Card -->
                                </div>

                                <!-- Average -->
                                <div class='col-md-3 col-sm-6 col-12 photo my-2'>
                                    <!-- Card -->
                                        <div class="card bg-dark " >
                                            <a href="{% static 'temporary/images/avg.png' %}">
                                                <img src="{% static 'temporary/images/avg.png' %}" class="card-img-top" alt="Average Image"/>
                                            </a>
                                            <div class="card-body">
                                                <div class='text-white mt-1 '>
                                                    <div class="row mb-3">
                                                        
                                                    </div>
                                                    <div class="row my-1">
                                                        <div class="col-auto">
                                                            <span class="bg-light text-dark rounded px-1">Name</span>
                                                        </div>
                                                        <div class="col-auto">
                                                            <span class="text-white photoName">Average.png</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- Card -->
                                </div>

                                <!-- Minimum -->
                                <div class='col-md-3 col-sm-6 col-12 photo my-2'>
                                    <!-- Card -->
                                        <div class="card bg-dark " >
                                            <a href="{% static 'temporary/images/min.png' %}">
                                                <img src="{% static 'temporary/images/min.png' %}" class="card-img-top" alt="Minimum Image"/>
                                            </a>
                                            <div class="card-body">
                                                <div class='text-white mt-1 '>
                                                    <div class="row mb-3">
                                                        
                                                    </div>
                                                    <div class="row my-1">
                                                        <div class="col-auto">
                                                            <span class="bg-light text-dark rounded px-1">Name</span>
                                                        </div>
                                                        <div class="col-auto">
                                                            <span class="text-white photoName">Minimum.png</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- Card -->
                                </div>

                                <!-- Maximum -->
                                <div class='col-md-3 col-sm-6 col-12 photo my-2'>
                                    <!-- Card -->
                                        <div class="card bg-dark " >
                                            <a href="{% static 'temporary/images/max.png' %}">
                                                <img src="{% static 'temporary/images/max.png' %}" class="card-img-top" alt="Maximum Image"/>
                                            </a>
                                            <div class="card-body">
                                                <div class='text-white mt-1 '>
                                                    <div class="row mb-3">
                                                        
                                                    </div>
                                                    <div class="row my-1">
                                                        <div class="col-auto">
                                                            <span class="bg-light text-dark rounded px-1">Name</span>
                                                        </div>
                                                        <div class="col-auto">
                                                            <span class="text-white photoName">Maximum.png</span>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="row my-1">
                                                        <button class="btn btn-success">
                                                            <a href="">Download
                                                        </button>
                                                    </div>
                                                    -->
                                                </div>
                                            </div>
                                        </div>
                                    <!-- Card -->
                                </div>

                            </div>
                        {% else %}
                            <div class='container-fluid bg-warning text-dark fs-4 fw-bold p-1 rounded'>
                                <center>You should <span class='bg-white text-dark rounded px-1'>SELECT IMAGES</span> for Image Fusion !!!</center>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <!-- Display Fused Image -->

        <!-- body of image_processing page -->
    {% endif %}
{% endblock body %}