{% extends 'index.html' %}

{% block body %}
    {% if user.is_authenticated %}
        <!-- body of image_processing page -->

            <!-- Display User uploaded Images -->
                <div class='container mt-5 mb-5 p-3 rounded bg-warning'>
                    <div class='rounded fw-bold mb-1 fs-3 text-black'>Your Uploaded Images</div>
                    <div class='container p-2 my-2 rounded bg-white fs-5'> 
                        <div class='container pb-2 select_unselect_all_button'>
                            <button type="button" onclick="SelectAll()" class='btn btn-success'>Select All Images</button>
                            <button type="button" onclick="UnSelectAll()" class='btn btn-danger mx-1'>UnSelect All Images</button>
                        </div>
                        <div class='row  mb-2'>
                            <div class="col-sm-9">
                                <input class="image_fusion_search px-2" onkeyup="ImageSearchFunction()" id ="search" type="search" placeholder="Search Image" aria-label="Search">
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input switch_toggle" type="checkbox" value="" id="flexCheckChecked"  data-toggle="toggle"/>
                                    <label class="form-check-label" for="flexCheckChecked">Select Searched Image</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form action="{% url 'image-fusion' %}" method="POST">
                    {% csrf_token %}
                        <div class='container p-3 rounded bg-white' style='height:100vh; overflow:auto;'>
                            {% if all_images %}
                                <div class='row'>
                                    {% for i in all_images %}
                                        <div class='col-md-3 col-sm-6 col-12 photo my-2'>
                                            <!-- Card -->
                                                <div class="card bg-dark " >
                                                    <a href="{{i.images.url}}">
                                                        <img src="{{i.images.url}}" class="card-img-top" alt="{{i.images.name}}"/>
                                                    </a>
                                                    <div class="card-body">
                                                        <div class='text-white mt-1 '>
                                                            <div class="row mb-3">
                                                                <div class="col ">
                                                                    <div class="form-check form-switch">
                                                                        <input name="image_checkbox" class="form-check-input switch_toggle" type="checkbox" value="{{i.id}}" id="{{i.id}}"  data-toggle="toggle"/>
                                                                        <label class="form-check-label" for="{{i.id}}">Select</label>
                                                                    </div>
                                                                </div>
                                                                
                                                            </div>
                                                            <div class="row my-1">
                                                                <div class="col-auto">
                                                                    <span class="bg-light text-dark rounded px-1">Name</span>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <span class="text-white photoName">{{i.images.name}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            <!-- Card -->
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class='container-fluid bg-danger text-white fs-4 fw-bold p-1 rounded'>
                                    <center>You should <span class='bg-white text-danger rounded px-1'>Upload Images !</span></center>
                                </div>
                            {% endif %}
                        </div>
                        <div class='container bg-white d-grid gap-2 mt-3 p-3 rounded'>
                            <button type="submit" class='btn btn-success'>Start Image Fusion</button>
                        </div>
                    </form>
                </div>
            <!-- Display User uploaded Images -->

            <!-- Display Fused Image -->
                <div class='container mt-5 mb-5 p-3 rounded bg-warning'>
                    <div class='rounded fw-bold mb-1 fs-3 text-black'>Fused Image</div>
                    <div class='container p-3 rounded bg-white' style='height:530px; overflow:auto;'>
                        {% if fused_image %}

                        {% else %}
                            <div class='container-fluid bg-warning text-dark fs-4 fw-bold p-1 rounded'>
                                <center>You should <span class='bg-white text-dark rounded px-1'>SELECT IMAGES</span> for Image Fusion !!!</center>
                            </div>
                        {% endif %}
                    </div>
                </div>
            <!-- Display Fused Image -->

        <!-- body of image_processing page -->
        
    {% endif %}
{% endblock body %}