{% extends 'index.html' %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
        <!-- body of uploadImage page -->

            <!-- taking user input image(s) -->
            <div class='container mt-5 p-3 rounded bg-warning'>
                <form action='{% url 'upload_images' %}' method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                    <!-- <label for="username">Username</label> -->
                    <input type="text" name="username" id="username" value={{user.username}} placeholder={{user.username}} hidden='true'>
                    <!-- <label for="user_email">Email</label> -->
                    <input type="email" name="user_email" id="user_email" value={{user.email}} placeholder={{user.email}} hidden>
                    <label for="inputGroupFile02" class='fw-bold fs-3 mb-1'>Upload Images</label>
                    <input type="file" accept="image/png" multiple class="form-control border-warning" id="fileName"  name='images' required>
                    <input type="submit" value="Upload" class="form-control mt-1 bg-success text-white fw-bold border-0 fs-5">
                </form>
            </div>
            <!-- taking user input image(s) -->

            <!-- Display User uploaded Images -->
            <div class='container mt-5 mb-5 p-3 rounded bg-warning'>
                <div class='rounded fw-bold mb-1 fs-3 text-black'>Your Uploaded Images</div>
                <div class='container p-2 my-2 rounded bg-white fs-5'> 
                    <div class='row'>
                        <div class='col'>
                            <input class="upload_image_search ps-2" onkeyup="UploadSearchFunction()" id ="search" type="search" placeholder="Search Image" aria-label="Search" />
                        </div>
                        <div class="col-auto">
                            <a href="{% url 'delete-all-images' %}" class='btn btn-danger text-right'> <i class="fas fa-trash-alt"></i> Delete All</a>
                        </div>
                    </div>
                </div>
                <div class='container p-3 rounded bg-white' style='height:530px; overflow:auto;'>
                    {% if all_images %}
                        <div class='row'>
                            {% for i in all_images %}
                                <div class='col-md-3 col-sm-6 col-12 photo my-2'>
                                    <!-- Card -->
                                        <div class="card bg-dark " >
                                            <a href="{{i.images.url}}">
                                                <img src="{{i.images.url}}" class="card-img-top" alt="{{i.images.name}}"/>
                                            </a>
                                            <div class="card-body">
                                                <div class='text-white mt-1 '>
                                                    <div class="row my-1">
                                                        <div class="col-auto">
                                                            <span class="bg-light text-dark rounded px-1">Name</span>
                                                        </div>
                                                        <div class="col-auto">
                                                            <span class="text-white photoName">{{i.images.name}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="row my-1">
                                                        <div class="col-auto">
                                                            <span class="bg-light text-dark rounded px-1">Size</span>
                                                        </div>
                                                        <div class="col-auto">
                                                            <span class="text-white">{{i.images.size}} bytes</span>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-3">
                                                        <div class="col d-grid">
                                                            <a href="{% url 'delete-image' i.id %}" class='btn btn-danger badge'><i class="fas fa-trash-alt"></i> Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- Card -->
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class='container-fluid bg-danger text-white fs-4 fw-bold p-1 rounded'>
                            <center>You should <span class='bg-white text-danger rounded px-1'>Upload Images !</span></center>
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- Display User uploaded Images -->

        <!-- body of uploadImage page -->
    {% endif %}
{% endblock body %}

